.game-board{
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
    min-height: 100vh;
}

.description{
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
}

#title{
    font-size: large;
    font-weight: bold;
}

#restart-game{
    margin-bottom: 3%;
}


.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.placer {
    width: 35px;
    border: 1px solid;
    height: 15px;
}

.X {
    background-color: coral;
}

.O {
    background-color: lightblue;
}